[theme="cesium"] {
  --skin: #29292e;
  --contrast-0p: #1d1d21;
  --contrast-70p: #393942;
  --contrast-90p: #565664;
  --contrast-100p: #dfdfe0;
  --blue: #0075db;
  --blue-sec: #0460b1;
  --red: #ff444c;
  --red-sec: #ca343c;
  --white: #ffffff;
  --active: #010244;
}

.material-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: var(--skin);
}

.component-wrapper {
  display: flex;
  flex-direction: column;
  height: max-content;
  width: 73vw;
  margin: 72px 0 0 0;
}

.title {
  margin: 0;
  font-size: 28px;
  font-weight: 500;
  color: var(--contrast-100p);
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 2rem;
}

.add-btn {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 36px;
  padding: 1rem 1.4rem 1rem 1.4rem;
  border: none;
  background-color: var(--blue);
  color: var(--contrast-100p);
  font-size: 16px;
  font-weight: 500;
  border-radius: 50px;
}

.add-btn:hover {
  background-color: var(--blue-sec);
  color: var(--white);
}

.delete-btn {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 36px;
  padding: 1rem 1.4rem 1rem 1.4rem;
  margin-left: 1rem;
  border: none;
  background-color: var(--red);
  color: var(--contrast-100p);
  font-size: 16px;
  font-weight: 500;
  border-radius: 50px;
}

.delete-btn:hover {
  background-color: var(--red-sec);
  color: var(--white);
}

.delete-btn:disabled {
  cursor: default;
  background-color: var(--contrast-70p);
  color: var(--contrast-100p);
}

.material-list-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.material-list-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  color: var(--contrast-90p);
  height: 100%;
  margin: 0;
}

.material-list {
  height: 25rem;
  width: 20rem;
  border: 1px solid var(--contrast-90p);
  background-color: var(--contrast-0p);
  overflow: scroll;
  word-wrap: break-word;
}

.material-view {
  display: flex;
  flex-direction: row;
  width: 38rem;
  margin-left: 1rem;
  padding: 1rem;
  border-radius: 5px;
  background-color: var(--contrast-0p);
}

.mv-col-1 {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.mv-col-2 {
  display: flex;
  flex-direction: column;
  width: 50%;
}

input[type="text"],
input[type="number"],
input[type="date"] {
  height: 32px;
  font-size: 16px;
  padding-left: 1rem;
  border: none;
  border-radius: 5px;
  background-color: var(--contrast-70p);
  color: var(--contrast-100p);
  margin: 0.5rem 0.5rem 1rem 0.5rem;
  outline: none;
}

.color-container {
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 40px;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-radius: 40px;
}

input[type="color"] {
  cursor: pointer;
  position: absolute;
  right: -8px;
  top: -8px;
  width: 56px;
  height: 56px;
  border: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0.8);
}

label {
  color: var(--contrast-100p);
  font-weight: 500;
  margin-left: 0.5rem;
  margin-top: 1rem;
}

.save-btn {
  cursor: pointer;
  height: 32px;
  font-size: 16px;
  padding-left: 1rem;
  border: none;
  border-radius: 5px;
  background-color: var(--blue);
  color: var(--contrast-100p);
  margin: 2.9rem 0.5rem 1rem 0.5rem;
  outline: none;
}

.save-btn:hover {
  background-color: var(--blue-sec);
  color: var(--white);
}

@media screen and (max-width: 1350px) {
  .material-container {
    min-height: 100vh;
    height: max-content;
  }

  .title {
    text-align: center;
  }

  .btns {
    justify-content: center;
  }

  .material-list-wrapper {
    justify-content: center;
  }

  .material-view {
    flex-wrap: wrap;
    margin-left: 0;
    margin-top: 1rem;
    margin-bottom: 2rem;
    justify-content: center;
  }

  .mv-col-1 {
    width: 100%;
  }

  .mv-col-2 {
    margin-top: 1rem;
    width: 100%;
  }
}
