[theme="cesium"] {
  --skin: #29292e;
  --contrast-0p: #1d1d21;
  --contrast-70p: #393942;
  --contrast-100p: #dfdfe0;
  --blue: #0075db;
  --red: #ff444c;
  --active: #010244;
}

.material-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  background-color: var(--skin);
}
